*{
    color: white
}
body{
    background: linear-gradient(20deg, #5e2129 50%,  rgb(166, 168, 4)50%);
    font-size: 20px;
    justify-content: center;
    display: flex;
}
input{
    color:black;
}
.verificar{
    align-content: center;
    border: transparent;
    position: relative;
    cursor: pointer;
    margin-top:2px;
    padding: 5px 12px;
    font-size: 12px;
    background: rgb(0, 0, 0);
    font-weight: bold;
}
#caixa{
    background-color: rgb(126, 71, 0);
    position: absolute;
    margin-top: 200px;
    width: 200px;
    height: 220px;
    padding: 40px;
}
.line{
    background-color: white;
    width: 100%;
    height: .2px;
    opacity: .2;
    margin-top: 10px;
    margin-bottom: 12px;
}
input{
    margin-top: 10px;
    font-size: 18px;
}